@keyframes drop-from-top {
  0% {
    opacity: 0;
    top: -10vh; }
  10% {
    opacity: 1;
    top: 10vh; }
  80% {
    opacity: 1;
    top: 10vh; }
  100% {
    opacity: 1;
    top: -10vh; } }

:root {
  --bgImg: linear-gradient(to top, rgba(black,.5), transparent), url('../public/bg-1.jpg'); }

@media only screen and (max-width: 61.5em) {
  html {
    font-size: 80%; } }

@media only screen and (max-width: 40.75em) {
  html {
    font-size: 65%; } }

@media only screen and (max-width: 30em) {
  html {
    font-size: 45%; } }

@media only screen and (min-width: 90em) {
  html {
    font-size: 120%; } }

.navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
  z-index: 100;
  background-image: linear-gradient(to top, #75b798 40%, transparent);
  backdrop-filter: blur(5px); }
  .navbar__logo {
    height: 35px;
    width: 35px; }
  .navbar__list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none; }
  .navbar__items {
    width: 100%; }

.form > * {
  margin: 1rem 0; }

.form__formarea {
  background-color: rgba(255, 228, 196, 0.9);
  padding: 2rem;
  text-align: center;
  border-radius: 2rem; }

.form__group {
  display: flex;
  align-items: center;
  width: 100%; }

.form__input {
  color: #0a3622;
  background-color: #fff3cd;
  font-size: medium;
  letter-spacing: 1.2px;
  font-family: 'Playfair Display', serif;
  border-radius: 1rem;
  padding: .7rem;
  transition: all .1s;
  border: 0 1rem 2.5rem rgba(0, 0, 0, 0.15); }
  .form__input:focus {
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
    transform: scale(1.05) translateY(-0.1rem);
    outline-color: lightgreen;
    border: none; }
    .form__input:focus:invalid {
      outline-color: orange;
      outline-style: groove; }
  .form__input:placeholder-shown ~ .form__label {
    opacity: 0; }

.form__label {
  font-weight: 300;
  margin-left: .5rem;
  transition: all 1s ease;
  text-transform: capitalize; }

.form__social {
  display: flex;
  justify-content: space-evenly; }
  .form__social > * {
    cursor: pointer; }

#form-signup .form__label {
  opacity: 100%; }

#form-signup .form__input {
  letter-spacing: -.2px; }

.writepost__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 52.5em) {
    .writepost__form {
      margin-top: 5em; } }
  @media only screen and (max-width: 52.5em) {
    .writepost__form textarea {
      width: 85vw;
      height: 15vh; } }

.post {
  border: 1px solid #75b798;
  border-radius: inherit;
  padding: 1rem;
  margin: .5rem;
  font-size: medium; }
  .post__content {
    z-index: 5;
    position: relative;
    text-align: justify;
    padding: 1rem; }
  .post__creator {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .post__avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .post__creator {
    margin-right: auto; }
    .post__creator-details {
      display: flex;
      align-items: center; }
  .post__author {
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: .25rem; }
  .post__datetime {
    font-style: italic;
    font-size: .8rem;
    font-weight: 100;
    margin: 0 1rem; }
  .post__actions {
    display: flex; }
  .post__date {
    font-size: .7rem;
    color: #0a3622; }
  .post__img {
    max-height: 18em; }
  .post__stats {
    display: flex; }
    .post__stats > * {
      display: flex;
      align-items: center;
      margin: 0 1.5rem; }
      .post__stats > * > * {
        margin: 0 3px; }
    .post__stats-item-text {
      cursor: pointer;
      transition: all .1s; }
      .post__stats-item-text:hover {
        color: #cc9a06;
        transform: scale(1.35); }
      .post__stats-item-text span {
        transition: all .2s; }
        .post__stats-item-text span:active {
          transform: scale(0) rotate(300deg); }
    .post__stats-item-radio:checked + .post__stats-item-text .post__stats-item-icon {
      color: #0a3622;
      font-variation-settings: 'FILL' 1; }

.feed__posts {
  overflow-y: scroll;
  height: 80vh;
  width: 70vw; }
  @media only screen and (max-width: 52.5em) {
    .feed__posts {
      width: 95vw; } }

.btn {
  font-family: 'Lobster Two', cursive;
  font-size: large;
  height: 3rem;
  width: 5rem;
  margin: 0 1rem;
  border-radius: 1rem;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  transition: all .3s;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn span {
    transition: all .3s; }
  .btn:hover {
    background-color: mediumspringgreen; }
    .btn:hover span {
      transform: scale(1.2) rotate(-15deg); }
  .btn:active {
    transform: scale(0); }
    .btn:active span {
      transform: scale(0) rotate(300deg); }

.alert {
  --width: 30vw;
  position: fixed;
  top: -10vh;
  left: calc(50vw - var(--width)/2);
  height: 50px;
  min-width: var(--width);
  border-radius: 2rem;
  background-color: rgba(157, 255, 0, 0.875);
  z-index: 1000;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.15);
  outline: 3px groove brown;
  outline-offset: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: drop-from-top 4s 1;
  animation-direction: forwards; }
  @media only screen and (max-width: 52.5em) {
    .alert {
      --width: 40vw; } }

.page-container {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-image: var(--bgImg);
  background-size: cover; }

@media only screen and (max-width: 52.5em) {
  .dashboard-container {
    flex-direction: column; } }

@media only screen and (max-width: 52.5em) {
  .login-container {
    flex-direction: column;
    justify-content: space-evenly; } }

.knowledgearea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .knowledgearea__quote {
    color: #cc9a06;
    font-style: italic; }
  .knowledgearea__logo {
    height: 25rem; }

.bg-video {
  height: 100%;
  width: 100%;
  opacity: 1;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: justify;
  padding: 6rem 3rem;
  background-image: linear-gradient(to top, #cc9a06, #75b798, rgba(0, 250, 154, 0.8)); }
  .about h1 {
    margin: 3rem; }
  .about h2 {
    margin: 1.5rem; }
  .about img {
    height: 20rem; }
