$shadow-box: 0 1rem 2.5rem rgba(black, .15);

$color-primary: $green-300;
$color-secondary: $green-800;
$color-tertiary: $yellow-600;

$color-primary-alternate: transparent ;
$color-secondary-alternate: mediumspringgreen;
$color-tertiary-alternate:yellow ;